<div class="container_joker_chat">
    <div class="icono--joker">
        <div class="container-fecha">
            <div class="fecha--joker---border fecha--joker"></div>

            <div class="fecha--joker">
                {{ fecha }}
            </div>

        </div>
        <img src="assets/Img/el_JOKAS.png" alt="" class="joker_icon" />
    </div>

    <div class="joker--mensaje">
        <div class="joker--mensaje-border body-mensaje">

        </div>
        <div class="joker--mensaje--style body-mensaje">
           {{ coment }}
        </div>
    </div>
</div>