
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">NUESTRAS SEDES</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="productbox">
                    <div class="card p-3 card border-light mb-3" style="max-width: 120rem; ">
                        <div class="ratio ratio-16x9">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.2396521359087!2d-74.81723728466498!3d11.02063765765071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42db82f8478dd%3A0x330f15b1a678439!2sCl.%2091%20%2371-40%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1632341490638!5m2!1ses-419!2sco"
                                style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p>
                            Contamos con sedes en Barranquilla y Cartagenta por ahora.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="productbox">

                    <div class="ratio ratio-16x9 ">
                        <iframe style="width: 100%;" src="https://www.youtube.com/embed/C_S8pmC2KMI "
                            title="YouTube video player " frameborder="0 "
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <a [routerLink]="['/','agenda']" class="btn btn-buynow">¡AGENDA TU CITA!</a>
            <div class="col-md-6">
                
                <div class="properties-box">
                    <img class="card-img-top" src="assets/Img/sedecartagena.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-location-arrow"></i> Sede Barranquilla</h5>
                        <p class="card-text"><i class="fas fa-phone"></i> 7341777</p>
                        <p class="card-text"><i class="fas fa-mobile"></i> 3103816519</p>
                        <p class="card-text"><i class="far fa-clock"></i> Lu-Vi:8:00 a.m a 12:30/2:00 p.m a 6:00 p.m</p>
                        <p class="card-text"><i class="far fa-clock"></i> Sabados 08:00 am a 01:00pm</p>
                        <p class="card-text"><i class="fas fa-street-view"></i> Carrera 14 No. 7 Norte 54 Frente al bar
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="properties-box">
                    <img class="card-img-top" src="assets/Img/Sedebarranquilla.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title "><i class="fas fa-location-arrow"></i> Sede Cartagena</h5>
                        <p class="card-text"><i class="fas fa-phone"></i> 7341777</p>
                        <p class="card-text"><i class="fas fa-mobile"></i> 3103816519</p>
                        <p class="card-text"><i class="far fa-clock"></i> Lu-Vi: 09:00 a.m a 7:30pm </p>
                        <p class="card-text"><i class="far fa-clock"></i> Sabados 08:00 am a 02:00pm</p>
                        <p class="card-text"><i class="fas fa-street-view"></i> Av Calle 19 No 288 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>