<!-- SECCION1 =============================-->

<div class="item content">
	<div class="container toparea">
		<div class="row text-center">
			<div class="col-md-4">
				<div class="col editContent">
					<span class="numberstep"><i class="far fa-address-card"></i></span>
					<h3 class="numbertext">Experiencia de mas de 30 años
					</h3>
					<p>
					Odontología orgullosamente colombiana con más de 30 años de experiencia.
				 </p>			
				</div>
 			</div>
 			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fas fa-american-sign-language-interpreting"></i> </span>
					<h3 class="numbertext">Estandares de calidad</h3>
					<p>
						Tenemos los mejores estándares de calidad y bioseguridad para brindarte la mayor seguridad durante tu tratamiento.				
						</p>
				</div>
 			</div>
 			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fas fa-star"></i></span>
					<h3 class="numbertext">Especialisatas de Calidad</h3>
					<p>
						En tu valoración todo nuestro equipo de especialistas, estará disponible para evaluar, analizar y diagnosticar, el camino hacia tu sonrisa soñada.	
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
<!-- NOTICIAS =============================-->
<section class="item content">
	<div class="container">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">NOTICIAS
				</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">	 
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<app-card-normal 
				resumen="Enrique Molina - Paciente Marlon Becerra El uso de retenedores dentales es la última etapa de la ortodoncia. Su aplicación garantiza resultados duraderos, ya que sirven para acostumbrar a tus…"
				titulo="EL SIGUIENTE PASO DE LA ORTODONCIA: RETENEDORES DENTALES"
				tiempo="Last updated 2 mins ago"
				img="assets/Img/n1.jpeg">
			</app-card-normal>
			
			<app-card-normal 
				resumen="Los adultos luchan por mantener sus dientes naturales por más tiempo. Por esta razón, los cuidados dentales se hacen cada vez más cruciales a medida que pasan los años. Si…"
				titulo="CUIDADOS DENTALES DESPUÉS DE LOS 50 AÑOS"
				tiempo="Last updated 30 mins ago"
				img="assets/Img/n2.jpeg">
			</app-card-normal>

			<app-card-normal 
				resumen="Gladys Méndez - Paciente Marlon Becerra Una causa común de incomodidad con la sonrisa es tener dientes con manchas blancas. Estamos acostumbrados a tonalidades uniformes de blanco, crema o gris…"
				titulo="MEJORA TU SONRISA Y DILE ADIÓS A LOS DIENTES CON MANCHAS BLANCAS"
				tiempo="Last updated 13 mins ago"
				img="assets/Img/n3.jpeg">
			</app-card-normal>
 			
 			
		</div>
	</div>
</section>


<!-- BOTON =============================-->
<div class="item content">
	<div class="container text-center">
		<a [routerLink]="['/','servicios']" class="homebrowseitems">SERVICIOS
		<div class="homebrowseitemsicon">
			<i class="fa fa-star fa-spin"></i>
		</div>
		</a>
	</div>
</div>
<br/>


<!-- SECCION2 =============================-->
<div class="item content">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
 				<i class="far fa-eye infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">VISIÓN</h1>
					<p>
						Ser una clínica dental de vanguardia conformada por un equipo de odontólogos de primer nivel, comprometidos con su actualización continua, beneficiando de esta manera a todas las personas que nos confía su salud dental. Sonrisas, fomenta a todo su personal, staff de odontólogos, personal administrativo, asistentas dentales y técnicos en laboratorio dental, nuestros principales valores, honestidad, laboriosidad, lealtad y respeto.					</p>
					 
				</div>
			</div>
 			<div class="col-md-4">
 				<i class="fas fa-heart infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">VALORES</h1>
					<p>
						Sonrisas, fomenta a todo su personal, staff de odontólogos, personal administrativo, asistentas dentales y técnicos en laboratorio dental, nuestros principales valores, honestidad, laboriosidad, lealtad y respeto.					</p>
					 
				</div>
			</div>
 			<div class="col-md-4">
 				<i class="fas fa-users infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">RESPONSABILIDAD SOCIAL PRISMA DENTAL</h1>
					<p>
						Sonrisas, esta comprometido con la bioecologia al no utilizar elementos, que contaminen nuestro frágil medio ambiente, así como también, con nuestra participación en campañas, programas sociales tanto para niños mujeres y especialmente al adulto mayor.

					</p>
					 
				</div>
			</div>
		</div>
	</div>
</div>
<!-- QUIENESSOMOS =============================-->
 <div class="item content">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="slide-text">
				<div>
					<h2><span class="uppercase">¿Quienes somos?</span></h2>
					<img src="assets/Img/pionero.jpeg" alt=" ">
					<p>
						Somos una empresa que ofrece servicios de odontología general y especializada ubicada en las ciudades de Barranquilla y Cartagena. Prestando nuestros servicios a las familias de la Región Caribe. Contamos con instalaciones habilitadas ante secretaria de salud, y brindamos seguridad y confianza a nuestros pacientes.					</p>
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<app-formulario></app-formulario>