<!-- CONTENIDO =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">SERVICIOS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>

        
        <div class="row">


            <app-card-servicios
                titulo="DISEÑO DE SONRISA"
                description="“Limpiar, blanquear dientes y mejorar forma, altura de encías” El Diseño de Sonrisa
                cuenta con una suma de procedimientos y trabajo interdisciplinario que nos permitirán
                lograr una simetría de balance, funcionalidad y armonía para lograr la mejor estética
                ideal."
                img="assets/Img/periodoncia.jpg">
            </app-card-servicios>
            
            <app-card-servicios
                titulo="PERIODONCIA"
                description="“Uno es lo que decide ser” Nuestras fases higiénicas (Limpiezas) y tratamientos
                (modificación de encías) de esta especialidad son realizados por profesionales
                especialistas en periodoncia. Son el primer paso para cuidar tu salud oral."
                img="assets/Img/ortodoncia.jpg">
            </app-card-servicios>
            <app-card-servicios
                titulo="BLANQUEAMIENTO DENTAL"
                description="“Me gusta el blanco en todo menos en los dientes” Aclaramos la tonalidad de los dientes
                causada por pigmentaciones o por manchas causadas por medicamentos, traumas dentales,
                alimentos y bebidas oscuras entre otros."
                img="assets/Img/diseno-de-sonrisa.jpg">
            </app-card-servicios>
            
            
        </div>
        <div class="row">
            <app-card-servicios
                titulo="PROTESIS DENTAL"
                description="“Modificar formas y función para una estética Ideal” Hace parte de Rehabilitación Oral
                de tu sonrisa. Son tratamientos estéticos y funcionales que te ayudarán a recuperar la
                forma, ángulos, colores y longitud de tus dientes, de acuerdo a tu rostro y labios.
                Prótesis y Coronas son los más comunes."
                img="assets/Img/blanqueamiento-dental.jpg">
            </app-card-servicios>
            
            <app-card-servicios
                titulo="CIRUGIA"
                description="“Modificar formas y función para una estética Ideal” Se encarga de la prevención,
                diagnóstico, tratamiento y rehabilitación quirúrgica de las enfermedades, lesiones y
                defectos de los tejidos blandos y duros de la cavidad oral, maxilar superior, maxilar
                inferior y la cara."
                img="assets/Img/cirugia-bucal.jpg">
            </app-card-servicios>
            
            <app-card-servicios
                titulo="IMPLANTES"
                description="“El arte de Reemplazar un diente perdido” Los implantes están hechos de aleaciones de
                titanio (específicamente titanio, aluminio, vanadio) con diferentes grados de pureza,
                que se colocarán en los huesos de los maxilares debajo de las encías. Es muy importante
                aquí su posición, espacio y conceptualización estética."
                img="assets/Img/protesis.jpg">
            </app-card-servicios>
            
        </div>
    </div>
</section>