<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">DEJANOS TUS DATOS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">

            <div id="edd_checkout_form_wrap" class="edd_clearfix">
                <form id="edd_purchase_form" [formGroup]="myform" class="edd_form" action="#">
                    <fieldset id="edd_checkout_user_info">
                        <legend>Datos Personales</legend>
                        <p id="edd-email-wrap">
                            <label class="edd-label">
                                Correo Electronico <span class="edd-required-indicator">*</span></label>
                            <input class="edd-input required" type="email" formControlName="email"
                                placeholder="Correo Electronico" id="Correo Electronico" value="">
                        </p>
                        <p id="edd-first-name-wrap">
                            <label class="edd-label" for="edd-first">
                                Nombre Completo<span class="edd-required-indicator">*</span>
                            </label>
                            <input class="edd-input required" type="text" formControlName="name"
                                placeholder=" Nombre Completo" id=" Nombre Completo" value="" required="">
                        </p>
                        <p id="edd-last-name-wrap">
                            <label class="edd-label" for="edd-last">
                                Celular </label>
                            <input class="edd-input" type="text" formControlName="phone" id="Celular" placeholder="Celular"
                                value="">
                        </p>
                        <p id="edd-last-name-wrap">
                            <label class="edd-label" for="edd-last">
                                DNI </label>
                            <input class="edd-input" type="text" formControlName="cedula" id="Celular" placeholder="Celular"
                                value="">
                        </p>
                        <p id="edd-last-name-wrap">
                            <label class="edd-label" for="edd-last">
                                Hora </label>
                            <input class="edd-input" type="time" formControlName="time" id="edd-last" placeholder="Last name"
                                value="">
                        </p>
                        <div class="edd-last-name-wrap">
                            <label for="inputState" class="form-label">Sede</label>
                            <select formControlName="sede" id="inputState" class="form-select">
                                <option>Barranquilla</option>
                                <option>Cartagena</option>
                            </select>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Deseo recibir información sobre novedades y ofertas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Declaro haber leido y aceptar las condiciones generales del programa y la normativa
                                sobre protección de datos
                            </label>

                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="button" class="edd-submit button" id="edd-purchase-button" name="edd-purchase"
                         (click)="submit()" value="AGENDAR">
                        
                         <a [routerLink]="['/','agenda','client']" style="margin-left: 13px;" class="edd-submit button"> ver los clientes</a>
                    </fieldset>
                    <div style="display:none;" id="ah recuerde llenar el formulario"
                     class="text-center"> 
                     <h2>
                        recuerde llenar el formulario
                     </h2>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sede</th>
                <th scope="col">hora</th>
              </tr>
            </thead>
            <tbody id="table">
              
              <tr *ngFor="let item of list">
                <th class="show{{item.id}}" scope="row">{{item.id}}</th>
                <td class="show{{item.id}}">{{item.name}}</td>
                <td class="show{{item.id}}">{{item.sede}}</td>
                <td class="show{{item.id}}">{{item.hora}}</td>
                <td class="show{{item.id}}">
                    <button class="edd-submit button" (click)="edit(item.id)">
                      editar
                    </button>
                </td>  
                <td class="show{{item.id}}">
                    <button class="edd-submit button" (click)="delete(item.id)">
                    eliminar
                    </button>
                </td>


                <th style="display: none;" class="edit{{item.id}}" scope="row">{{item.id}}</th>
                <td style="display: none;" class="edit{{item.id}}">{{item.name}}</td>
                <td style="display: none;" class="edit{{item.id}}"><input id="sede{{item.id}}" type="text" value="{{item.sede}}"></td>
                <td style="display: none;" class="edit{{item.id}}"><input id="hora{{item.id}}" type="text" value="{{item.hora}}"></td>
                <td style="display: none;" class="edit{{item.id}}">
                    <button class="edd-submit button" (click)="change(item.id)">
                      aceptar
                    </button>
                </td> 
              </tr>
              
              
            </tbody>
        </table>
    </div>
</section>