<div class="col-md-4">
    <div class="productbox">
        <div class="fadeshop">
            <div class="captionshop text-center" style="display: none;">
                <h4>DISEÑO DE SONRISA</h4>
                <p>
                    {{ description }} 
                </p>
                <p>
                    <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>
                </p>
            </div>
            <span class="maxproduct"><img src="{{ img }}" alt=""></span>
        </div>
        <div class="product-details">
            <a href="#">
                <h1> {{titulo}}
                </h1>
            </a>

        </div>
    </div>
</div>