<!-- NAVBAR-HEADER =============================-->
<header class="item header margin-top-0">
    <div class="wrapper">
        <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle navigation</span>
                </button>
                <a [routerLink]="['/']" class="navbar-brand brand"> SONRISAS <i class="fas fa-tooth"></i>  </a>
            </div>
            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="propClone"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="propClone"><a [routerLink]="['/','servicios']">Servicios</a></li>
                    <li class="propClone"><a [routerLink]="['/','sedes']">Sedes</a></li>
                    <li class="propClone"><a [routerLink]="['/','agenda']">Agenda Tu Cita</a></li>
                    <li class="propClone"><a [routerLink]="['/','comentarios']">Comentarios</a></li>
                </ul>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-homeimage"  >
                        <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s" id="text1">
                             BIENVENIDOS 
                        </div>
                        <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s" id="text1">
                             SONRISAS CENTRO ODONTOLOGICO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>